.wrapper {
  position: relative;
  width: 1440px;
  padding: 100px 160px;
  padding-top: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-style: italic;
  font-weight: 400;
  font-size: 115px;
  line-height: 120px;
  align-self: flex-end;
  transform: translateY(40%);
}

.photo {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-bottom: 96px;
}

.linkPlacer {
  margin-bottom: 68px;
  margin-left: -40px;
}

.text {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 32px;
  line-height: 38px;
}

@media (max-width: 1367px) {
  .wrapper {
    width: 100%;
  }
}

@media (max-width: 1181px) {
  .title {
    transform: translateY(0);
  }
}


@media (max-width: 415px) {
  .wrapper {
    padding: 10px 20px;
    justify-content: unset;
    margin-bottom: 60px;
  }

  .container {
    width: 100%;
  }

  .title {
    font-size: 60px;
    line-height: 64px;
    align-self: flex-start;
    margin-bottom: 40px;
  }

  .photo {
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
  }

  .photo img {
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .linkPlacer {
    margin-left: 0;
    margin-bottom: 40px;
  }

  .text {
    font-size: 22px;
    line-height: 30px;
  }
}
