.wrapper {
  position: relative;
  width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 900px;

}

.title {
  font-style: italic;
  font-weight: 400;
  font-size: 60px;
  line-height: 120px;
  margin-bottom: 5px;
  margin-top: 0;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.formTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 52px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

.formRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
  flex-wrap: wrap;
}


.input {
  width: 367px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 36px;
  border: none;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  position: relative;
  transition: all .35s;
}

.input:focus {
  outline: none;
  border-color: #5F7A67;
}

.radioGroup {
  position: relative;
  margin-bottom: 24px;
}

.radioGroup:nth-child(3),
.radioGroup:nth-child(4) {
  margin-bottom: 0;
}

.radioInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 24px;
  padding: 14px 22px;
  border: 1px solid;
  display: block;
  cursor: pointer;
  width: 367px;
  text-align: center;
}

.radioGroup input:checked ~ .radio {
  border-color: #CDDAAE;
  background: #CDDAAE;
}

.checkboxRow {
  position: relative;
}

.checkboxRow input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkboxRow label {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 32px;
  cursor: pointer;
}

.checkboxRow label:after {
  content: "";
  position: absolute;
  left: -45px;
  width: 30px;
  height: 30px;
  border: 1px solid;
  text-align: center;
}

.checkboxRow input:checked ~ label:after {
  content: "\2713";
  color: #CDDAAE;
}

.formRow textarea {
  padding: 10px 14px;
  width: 100%;
  min-height: 82px;
  border: 1px solid;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.submit {
  padding: 10px 30px;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
  border: 1px solid;
  transition: all .35s;
}

.submit:hover {
  color: black;
  background: transparent;
}

.successTitle {
  font-style: italic;
  font-weight: 400;
  font-size: 50px;
  line-height: 80px;
}

.successWrap {
  text-align: center;
}

.successText {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 32px;
  line-height: 38px;
}

.successText a {
  color: black;
  font-weight: 800;
}

@media (max-width: 1367px) {
  .wrapper {
    width: 100%;
    height: auto;
    padding-bottom: 50px;
  }
}

@media (max-width: 415px) {
  .wrapper {
    padding: 20px 20px 40px 20px;
    height: auto;
    width: 100%;
  }
  .title {
    line-height: 76px;
    margin-bottom: 12px;
    text-align: center;
  }
  .formRow {
    flex-direction: column;
    margin-bottom: 18px;
  }
  .form {
    width: 100%;
    overflow: hidden;
  }

  .input {
    width: 100%;
    margin-bottom: 20px;
  }

  .input:last-child {
    margin-bottom: 0;
  }

  .radioGroup:nth-child(3),
  .radioGroup:nth-child(4) {
    margin-bottom: 24px;
  }

  .radioGroup {
    width: 100%;
  }

  .radio {
    width: 100%;
    padding: 18px 20px;
    font-size: 22px;
    text-align: center;
  }

  .checkboxRow {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 50px;
  }
}
