.mainWrapper {
  padding: 34px 160px 0 160px;
  height: 100vh;
  overflow: hidden;
}

.grid {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.miniTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

.miniTitle span:nth-child(1) {
  margin-right: 20px;
}

.title {
  font-size: 64px;
  line-height: 85px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 110px;
  width: 74%;
  text-align: center;
}

.photoWrapper {
  display: flex;
  min-width: 1180px;
  width: 70%;
}

.photoWrapper img:nth-child(1) {
  width: 100%;
  height: auto;
}

.logoWrapper {
  position: relative;
}

.signHidder {
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
}

